@font-face {
  font-family: "TT Lakes Regular";
  src: url(./fonts/TTLakes-Regular.woff) format("woff");
}
@font-face {
  font-family: "TTLakes-Bold";
  src: url(./fonts/TTLakes-Bold.woff) format("woff");
}
@font-face {
  font-family: "TTLakes-ExtraBold";
  src: url(./fonts/TTLakes-ExtraBold.woff) format("woff");
}
* {
  font-family: "TT Lakes Regular";
  margin: 0;
  padding: 0;
}

body {
  background-color: #F8F8F8;
}

.dividerFirst {
  display: none;
}

.header {
  width: 100vw;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #FFFFFF;
}
.header__button {
  cursor: pointer;
}
.header__button--hidden {
  display: none;
}
.header__divider {
  width: 2px;
  height: 32px;
  background: #EAEAEA;
  border-radius: 1px;
}
.main {
  background-color: #F8F8F8;
  position: relative;
  width: 100vw;
  height: 509px;
}
.main__holder {
  display: flex;
  padding-top: 24px;
  margin-bottom: 24px;
}
.main__scroll-menu {
  display: flex;
  justify-content: space-between;
  margin-left: 4%;
  white-space: nowrap;
  overflow-x: auto;
  list-style-type: none;
}
.main__element {
  padding: 8px 16px;
  color: #7E7E82;
  cursor: pointer;
  font-size: 16px;
}
.main__element-button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 8px 2vw;
  margin-right: 5px;
  box-sizing: border-box;
  border: 2px solid transparent;
}
.main__element-button:focus {
  background: #FFFFFF;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
}
.main__text {
  margin: 5% 5% 0 5%;
}
.main__content {
  font-size: 14px;
  overflow: hidden;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.main__uncover {
  display: flex;
  margin-top: 30px;
  border: none;
  outline: none;
  background-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.main__uncover:focus {
  background: linear-gradient(to right, #ececec 50%, #F8F8F8 90%);
}
.main__arrows {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.main__uncover-text {
  margin-left: 16px;
  font-weight: 600;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.main__image {
  padding: 27px 0;
}
.main__image-content {
  width: 100%;
}
.main__divider-of-header {
  width: 4px;
  height: 40px;
  background-color: #41F6D7;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.main__header {
  padding-left: 4%;
  font-family: "TTLakes-Bold";
}
.main__element {
  padding: 8px 16px;
  margin-right: 5px;
}
.main-buttons {
  display: none;
}
.main-buttons__button {
  border: none;
  outline: none;
  background-color: transparent;
}
.main-buttons__button:focus {
  background: linear-gradient(to right, #ececec 50%, #F8F8F8 90%);
}
.scroll-menu::-webkit-scrollbar {
  width: 0px;
  background: rgba(255, 255, 255, 0);
}

@media screen and (min-width: 768px) and (max-width: 1119px) {
  .header {
    justify-content: flex-start;
  }
  .header__button--hidden {
    display: block;
  }
  .header__button {
    margin-left: 3%;
  }
  .header__divider {
    margin-left: 2%;
  }
  .header__logo {
    margin-left: 2%;
  }
  .header :nth-child(4) {
    margin-left: clamp(250px, 32%, 500px);
  }
  .dividerFirst {
    display: block;
  }
  .main__box {
    display: flex;
    flex-direction: row;
  }
  .main__text {
    width: 42vw;
  }
  .main__content {
    -webkit-line-clamp: 7;
  }
  .main__image-content {
    width: 45vw;
    border-radius: 6px;
    overflow: hidden;
  }
}
@media screen and (min-width: 1120px) {
  .header {
    display: none;
  }
  .main__header {
    padding-left: 2.8vw;
  }
  .main__scroll-menu {
    flex-wrap: wrap;
    margin-left: 3%;
    margin-right: 3%;
    justify-content: flex-start;
    white-space: wrap;
  }
  .main__element {
    padding: 8px 0;
  }
  .main__box {
    display: flex;
    flex-direction: row;
  }
  .main__text {
    width: 42vw;
    margin: 5vh 5vw 0 3vw;
  }
  .main__uncover {
    padding-left: 13px;
  }
  .main__image {
    padding-left: 1vw;
  }
  .main__content {
    -webkit-line-clamp: 8;
    line-height: 20px;
    font-size: 14px;
  }
  .main__image-content {
    width: 45vw;
    border-radius: 6px;
    overflow: hidden;
  }
  .main-buttons {
    position: absolute;
    right: 4vw;
    display: flex;
    justify-content: flex-end;
    gap: 2vw;
  }
  .main-buttons__button {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .main-buttons__text {
    margin-right: 1vw;
    font-weight: 600;
  }
  .main-buttons__icon {
    margin-top: 5px;
  }
}/*# sourceMappingURL=style.css.map */